<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>JavaMail</display-name>
  <servlet>
    <description>Test servlet</description>
    <servlet-name>SampleServlet</servlet-name>
    <servlet-class>javaee.simpleWebApp_archetype.SampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SampleServlet</servlet-name>
    <url-pattern>/s</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Mail Servlet</description>
    <servlet-name>MailServlet</servlet-name>
    <servlet-class>javaee.mail.MailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailServlet</servlet-name>
    <url-pattern>/sendMail</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>mailForm.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>FrontControllerFilter</filter-name>
    <filter-class>
            javaee.mail.FrontControllerFilter
        </filter-class>
    <async-supported>true</async-supported>
  </filter>
  <filter-mapping>
    <filter-name>FrontControllerFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <description>
            Nastavuje uživatele do email beanu.
        </description>
    <listener-class>
            javaee.mail.UserSetterForEmailBean
        </listener-class>
  </listener>
</web-app>