<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>WebMail</display-name>
  
  <servlet>
    <description>Mail Servlet</description>
    <servlet-name>MailServlet</servlet-name>
    <servlet-class>javaee.mail.MailServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>MailServlet</servlet-name>
    <url-pattern>/kontakty</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MailServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>mailForm.jsp</welcome-file>
  </welcome-file-list>

  
      <security-constraint>
        <display-name>Login</display-name>
        <web-resource-collection>
            <web-resource-name>All</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
     <auth-method>FORM</auth-method>
     <realm-name>mailRealm</realm-name>
     <form-login-config>
         <form-login-page>/login.jsp</form-login-page>
         <form-error-page>/login-error.jsp</form-error-page>
     </form-login-config>
</login-config>


    <security-role>
     <role-name>user</role-name>
</security-role>

</web-app>